---
import Layout from "../../layouts/Layout.astro";
import MemberCard from "../../components/MemberCard.astro";
import Recruitment from "../../components/Recruitment.astro";
import H3 from "../../atoms/H3.astro";
import TechBlog from "../../components/TechBlog.astro";
---

<Layout title="デジタルパートナー事業">
  <main>
    <!-- Banner section starts -->
    <div
      class="flex flex-col px-5 md:px-20 container mx-auto py-5 md:py-10 gap-x-[64px] gap-y-8 md:flex-row justify-between my-10 items-center"
    >
      <div class="w-full md:w-[50%]">
        <img class="w-full" src="/images/service_img_2.svg" />
      </div>
      <div class="w-full md:w-[50%]">
        <h4
          class="text-[40px] md:text-[48px] text-black-333 font-[700] tracking-[-2px]"
        >
          デジタルパートナー事業
        </h4>
        <p class="my-4 text-[16px] md:text-[20px] md:my-6 font-medium">
          タレントスタジオ <br />Geek スタジオ
        </p>
      </div>
    </div>
    <!-- Banner section ends -->

    <section>
      <div class="container mx-auto items-center flex flex-wrap gap-y-8 px-5">
        <div class="w-full md:w-[50%] md:pe-8">
          <div
            class="text-[40px] md:text-[48px] md:mb-6 mb-4 font-bold tracking-[-2px]"
          >
            <img src="/images/bold_txt_2.svg" />
          </div>
          <p class="font-medium text-[16px] leading-[140%]">
            GEEKスタジオは、テクノロジーの力を借りて、現代のビジネスが直面する課題に対し、先駆的なソリューションを提供します。深い知見を活かし、企業が抱える複雑な問題に具体的かつ実用的な解を導き出します。私たちは、単なる理論ではなく、実際の市場での成果を重視し、お客様の目標達成をサポートします。<br
            />
            <br />
            当スタジオのチームは、各分野でのリーダーシップと豊富な経験を兼ね備えています。エンジニアリングの深い知識、フィンテックとセキュリティの専門技術、そして製品の設計から運用に至るまでの広範なスキルセットを有し、多角的な視点から最良の戦略を策定します。<br
            />
            GEEKスタジオは、革新を続けることで、お客様にとって最も信頼できるパートナーとなることができます。
          </p>
        </div>

        <div class="w-full md:w-[50%] md:ps-8">
          <img class="w-full" src="/images/feature3.svg" />
        </div>
      </div>
    </section>

    <!-- management section starts -->
    <section class="pt-20 pb-[72px] md:pb-20 bg-[#F1F6F080] md:my-12">
      <div class="container mx-auto relative">
        <p class="md:hidden text-[20px] mx-5 mb-5 text-[#518C3C] font-bold">
          東大・京大出身者を中心にしたGEEKスタジオ
        </p>
        <div
          class="flex flex-grow gap-x-8 flex-row-reverse gap-y-6 justify-center flex-wrap mx-5 md:mx-0"
        >
          <!-- one -->
          <div
            class="p-5 relative rounded-e-[8px] min-w-[350px] bg-white shadow-card w-[100%] md:w-[28%]"
          >
            <p
              class="rotate-[90deg] w-[50px] hidden md:block text-[24px] text-[#518C3C] font-bold origin-left whitespace-nowrap absolute right-[-95px] top-[-17px]"
            >
              東大・京大出身者を中心にしたGEEKスタジオ
            </p>

            <div class="ms-[35px] z-10 relative">
              <img
                class="w-full h-[332px] object-cover mt-[20px]"
                src="/images/management_img.svg"
              />
              <h4 class="font-bold text-[24px] mt-4">徐 聖博</h4>
              <h5 class="font-medium text-base mb-2">Shengbo Xu</h5>
              <p class="text-sm font-medium leading-[140%]">
                東京大学大学院でコンピュータ科学を学びAIの研究で学会発表などを行う。卒業後、グリーに新卒入社しWeb開発を経験。その後、メドレーやIndeed
                Tokyoでエンジニアとして活躍し2020年にXincere, Inc.を創業。
              </p>
            </div>
            <div
              class="h-[200px] w-[97px] bg-bg1 rounded-[60px] absolute top-[20px] left-[20px] z-0"
            >
              <p
                class="text-white absolute font-bold left-[-40px] text-[16px] bottom-[100px] rotate-[90deg]"
              >
                CEO・エンジニア
              </p>
            </div>
          </div>

          <!-- two -->

          <div
            class="p-5 relative min-w-[350px] rounded-e-[8px] bg-white shadow-card w-[100%] md:w-[28%]"
          >
            <div class="ms-[35px] z-10 relative">
              <img
                class="w-full h-[332px] object-cover mt-[20px]"
                src="/images/management_img.svg"
              />
              <h4 class="font-bold text-[24px] mt-4">徐 聖博</h4>
              <h5 class="font-medium text-base mb-2">Shengbo Xu</h5>
              <p class="text-sm font-medium leading-[140%]">
                東京大学大学院でコンピュータ科学を学びAIの研究で学会発表などを行う。卒業後、グリーに新卒入社しWeb開発を経験。その後、メドレーやIndeed
                Tokyoでエンジニアとして活躍し2020年にXincere, Inc.を創業。
              </p>
            </div>
            <div
              class="h-[200px] w-[97px] bg-bg1 rounded-[60px] absolute top-[20px] left-[20px] z-0"
            >
              <p
                class="text-white absolute font-bold left-[-40px] text-[16px] bottom-[100px] rotate-[90deg]"
              >
                CEO・エンジニア
              </p>
            </div>
          </div>
          <!-- three -->

          <div
            class="p-5 relative min-w-[350px] rounded-e-[8px] bg-white shadow-card w-[100%] md:w-[28%]"
          >
            <div class="ms-[35px] z-10 relative">
              <img
                class="w-full h-[332px] object-cover mt-[20px]"
                src="/images/management_img.svg"
              />
              <h4 class="font-bold text-[24px] mt-4">徐 聖博</h4>
              <h5 class="font-medium text-base mb-2">Shengbo Xu</h5>
              <p class="text-sm font-medium leading-[140%]">
                東京大学大学院でコンピュータ科学を学びAIの研究で学会発表などを行う。卒業後、グリーに新卒入社しWeb開発を経験。その後、メドレーやIndeed
                Tokyoでエンジニアとして活躍し2020年にXincere, Inc.を創業。
              </p>
            </div>
            <div
              class="h-[200px] w-[97px] bg-bg1 rounded-[60px] absolute top-[20px] left-[20px] z-0"
            >
              <p
                class="text-white absolute font-bold left-[-40px] text-[16px] bottom-[100px] rotate-[90deg]"
              >
                CEO・エンジニア
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- management section ends -->

    <section>
      <div class="container mx-auto items-center flex flex-wrap gap-y-8 px-5">
        <div class="w-full md:w-[50%] md:pe-8">
          <img class="w-full" src="/images/feature2.svg" />
        </div>
        <div class="w-full md:w-[50%] md:ps-8">
          <div
            class="text-[40px] md:text-[48px] md:mb-6 mb-4 font-bold tracking-[-2px]"
          >
            <img src="/images/bold_txt.svg" />
          </div>
          <p class="font-medium text-[16px] leading-[140%]">
            TALENTスタジオは、革新的なウェブサービスを生み出すための多様な才能を有しています。<br
            />
            クリエイティブなデザイナー、実績あるプロダクトマネージャー、テクノロジーの最前線を走るエンジニアたちが、お客様のビジョンを形にします。<br
            />
            新規プロジェクトの挑戦に際して、私たちはその専門知識と経験を結集させ、お客様の成功を支援します。<br
            />
            新しいウェブサービスの立ち上げは、多くの課題を含んでいますが、私たちのタレントスタジオは、あらゆるステージにおいて、お客様の強力なパートナーとなることができます。
          </p>
        </div>
      </div>
    </section>

    <!-- management section starts -->
    <section class="pt-20 pb-[72px] md:pb-20 md:my-12">
      <div class="container mx-auto relative">
        <p class="md:hidden text-[20px] mx-5 mb-5 text-[#518C3C] font-bold">
          経験豊富なPMを中心としたタレントスタジオ
        </p>
        <div
          class="flex flex-grow gap-x-8 gap-y-6 justify-center flex-wrap mx-5 md:mx-0"
        >
          <!-- one -->
          <div
            class="p-5 relative rounded-e-[8px] min-w-[350px] bg-white shadow-card w-[100%] md:w-[28%]"
          >
            <p
              class="rotate-[90deg] w-[50px] hidden md:block text-[24px] text-[#518C3C] font-bold origin-left whitespace-nowrap absolute left-[-45px] top-[-17px]"
            >
              経験豊富なPMを中心としたタレントスタジオ
            </p>

            <div class="ms-[35px] z-10 relative">
              <img
                class="w-full h-[332px] object-cover mt-[20px]"
                src="/images/management_img.svg"
              />
              <h4 class="font-bold text-[24px] mt-4">徐 聖博</h4>
              <h5 class="font-medium text-base mb-2">Shengbo Xu</h5>
              <p class="text-sm font-medium leading-[140%]">
                東京大学大学院でコンピュータ科学を学びAIの研究で学会発表などを行う。卒業後、グリーに新卒入社しWeb開発を経験。その後、メドレーやIndeed
                Tokyoでエンジニアとして活躍し2020年にXincere, Inc.を創業。
              </p>
            </div>
            <div
              class="h-[200px] w-[97px] bg-bg1 rounded-[60px] absolute top-[20px] left-[20px] z-0"
            >
              <p
                class="text-white absolute font-bold left-[-40px] text-[16px] bottom-[100px] rotate-[90deg]"
              >
                CEO・エンジニア
              </p>
            </div>
          </div>
          <!-- two -->

          <div
            class="p-5 relative min-w-[350px] rounded-e-[8px] bg-white shadow-card w-[100%] md:w-[28%]"
          >
            <div class="ms-[35px] z-10 relative">
              <img
                class="w-full h-[332px] object-cover mt-[20px]"
                src="/images/management_img.svg"
              />
              <h4 class="font-bold text-[24px] mt-4">徐 聖博</h4>
              <h5 class="font-medium text-base mb-2">Shengbo Xu</h5>
              <p class="text-sm font-medium leading-[140%]">
                東京大学大学院でコンピュータ科学を学びAIの研究で学会発表などを行う。卒業後、グリーに新卒入社しWeb開発を経験。その後、メドレーやIndeed
                Tokyoでエンジニアとして活躍し2020年にXincere, Inc.を創業。
              </p>
            </div>
            <div
              class="h-[200px] w-[97px] bg-bg1 rounded-[60px] absolute top-[20px] left-[20px] z-0"
            >
              <p
                class="text-white absolute font-bold left-[-40px] text-[16px] bottom-[100px] rotate-[90deg]"
              >
                CEO・エンジニア
              </p>
            </div>
          </div>
          <!-- three -->

          <div
            class="p-5 relative min-w-[350px] rounded-e-[8px] bg-white shadow-card w-[100%] md:w-[28%]"
          >
            <div class="ms-[35px] z-10 relative">
              <img
                class="w-full h-[332px] object-cover mt-[20px]"
                src="/images/management_img.svg"
              />
              <h4 class="font-bold text-[24px] mt-4">徐 聖博</h4>
              <h5 class="font-medium text-base mb-2">Shengbo Xu</h5>
              <p class="text-sm font-medium leading-[140%]">
                東京大学大学院でコンピュータ科学を学びAIの研究で学会発表などを行う。卒業後、グリーに新卒入社しWeb開発を経験。その後、メドレーやIndeed
                Tokyoでエンジニアとして活躍し2020年にXincere, Inc.を創業。
              </p>
            </div>
            <div
              class="h-[200px] w-[97px] bg-bg1 rounded-[60px] absolute top-[20px] left-[20px] z-0"
            >
              <p
                class="text-white absolute font-bold left-[-40px] text-[16px] bottom-[100px] rotate-[90deg]"
              >
                CEO・エンジニア
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- management section ends -->

    <TechBlog />

    <div class="movie">
      <video
        class="rotate-[-30deg] scale-[1.3] translate-x-[0%] md:translate-x-[0%] translate-y-[50%] md:translate-y-[0%] object-cover w-full"
        autoplay
        loop
        src="/movies/digital-partner.mp4"></video>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const video = document.querySelector("video");

        if (!video) return;

        // Autoplay the video
        video.autoplay = true;
        video.load(); // Optional, to ensure the video starts loading immediately

        // You might want to mute the video if autoplaying
        video.muted = true;
      });
    </script>
  </main>
  <Recruitment />
</Layout>
