---
import Layout from "../../layouts/Layout.astro";
import Recruitment from "../../components/Recruitment.astro";
import TechBlog from "../../components/TechBlog.astro";
---

<Layout title="エンジニア教育事業">
  <main>
    <!-- Banner section starts -->
    <div
      class="flex flex-col px-5 md:px-20 container mx-auto py-5 md:py-10 gap-x-[64px] gap-y-8 md:flex-row justify-between my-10 items-center"
    >
      <div class="w-full md:w-[50%]">
        <img class="w-full" src="/images/images/feature001.svg" />
      </div>
      <div class="w-full md:w-[50%]">
        <h4
          class="text-[40px] md:text-[56px] text-black-333 font-[700] tracking-[-2px]"
        >
          エンジニアチーム構築支援事業
        </h4>
        <p class="my-4 text-[16px] md:text-[20px] md:my-6 font-medium">
          エンジニア採用支援<br />評価制度構築支援
        </p>
      </div>
    </div>
    <!-- Banner section ends -->

    <section class="my-20">
      <div class="container mx-auto px-5">
        <h3
          class="text-[32px] md:text-[64px] font-bold leading-[120%] text-center mb-6"
        >
          エンジニアの未来を形作る、あなたの採用戦略のパートナー
        </h3>
        <p class="text-center font-medium text-[14px] md:text-[20px] mb-6">
          採用から成長まで、エンジニアの可能性を最大限に引き出します。<br />
          専門性と継続的な学習を組み合わせ、社内教育でチームを強化。
        </p>
      </div>
    </section>

    <section class="my-20">
      <div class="container mx-auto items-center flex flex-wrap gap-y-8 px-5">
        <div class="w-full md:w-[50%] md:pe-8">
          <img class="w-full" src="/images/ai.svg" />
        </div>
        <div class="w-full md:w-[50%] md:ps-8">
          <h3 class="text-[40px] md:text-[48px] mb-6 font-bold tracking-[-2px]">
            エンジニア採用支援
          </h3>
          <p class="font-medium text-[16px] leading-[140%]">
            エンジニアリングチーム構築支援事業は、採用の段階から社内教育の完遂に至るまで、一連のプロセスにおいて綿密なサポートを行います。<br
            />
            詳細なヒアリングに基づいて策定される求人票、技術的専門性を見極める面接の準備、そして新入社員が迅速にプロジェクトに貢献できるように設計されたオンボーディングプロセスは、即戦力となる人材の確保を目指す企業の強力な支援となります。<br
            />
            さらに、個々の社員の成長を促進するためのパーソナライズされたカリキュラムと進捗管理システムを導入し、社内教育を通じて継続的なスキルの向上とチーム全体のパフォーマンスの最大化を追求しています。
          </p>
        </div>
      </div>
    </section>

    <section class="my-20">
      <div class="container mx-auto items-center flex flex-wrap gap-y-8 px-5 md:flex-row-reverse flex-col">
        <div class="w-full md:w-[50%] md:pe-8">
          <img class="w-full" src="/images/ai.svg" />
        </div>
        <div class="w-full md:w-[50%] md:ps-8">
          <h3 class="text-[40px] md:text-[48px] mb-6 font-bold tracking-[-2px]">
            エンジニア採用支援
          </h3>
          <p class="font-medium text-[16px] leading-[140%]">
            エンジニアリングチーム構築支援事業は、採用の段階から社内教育の完遂に至るまで、一連のプロセスにおいて綿密なサポートを行います。<br
            />
            詳細なヒアリングに基づいて策定される求人票、技術的専門性を見極める面接の準備、そして新入社員が迅速にプロジェクトに貢献できるように設計されたオンボーディングプロセスは、即戦力となる人材の確保を目指す企業の強力な支援となります。<br
            />
            さらに、個々の社員の成長を促進するためのパーソナライズされたカリキュラムと進捗管理システムを導入し、社内教育を通じて継続的なスキルの向上とチーム全体のパフォーマンスの最大化を追求しています。
          </p>
        </div>
      </div>
    </section>

    <div class="movie">
      <video
        class="rotate-[-30deg] scale-[1.3] translate-x-[0%] md:translate-x-[2%] translate-y-[80%] md:translate-y-[-20%] object-cover w-full"
        autoplay
        loop
        src="/images/movies/engineer.mp4"></video>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          const video = document.querySelector("video");
          if (!video) return;

          // Autoplay the video
          video.autoplay = true;
          video.load(); // Optional, to ensure the video starts loading immediately

          // You might want to mute the video if autoplaying
          video.muted = true;
        });
      </script>
    </div>
    <!-- テックブログコンポーネント -->
    <TechBlog />

    <!-- 採用情報コンポーネント -->
    <Recruitment />
  </main>
</Layout>
