---
import Layout from "../../layouts/Layout.astro";
import Recruitment from "../../components/Recruitment.astro";
import TechBlog from "../../components/TechBlog.astro";
---

<Layout title="エンジニア教育事業">
  <main>
    <!-- Banner section starts -->
    <div
      class="flex flex-col px-5 md:px-20 container mx-auto py-5 md:py-10 gap-x-[64px] gap-y-8 md:flex-row justify-between my-10 items-center"
    >
      <div class="w-full md:w-[50%]">
        <img class="w-full" src="/images/images/feature001.svg" />
      </div>
      <div class="w-full md:w-[50%]">
        <h4
          class="text-[40px] md:text-[56px] text-black-333 font-[700] tracking-[-2px]"
        >
          エンジニア育成・組織化支援事業
        </h4>
        <p class="my-4 text-[24px] md:text-[32px] md:my-6 font-medium">
          （ワーディング要検討）
        </p>
      </div>
    </div>
    <!-- Banner section ends -->

    <section class="my-20">
      <div class="container mx-auto px-5">
        <h3
          class="text-[32px] md:text-[64px] font-bold leading-[120%] text-center mb-6"
        >
          IT分野の自立自走をサポートします
        </h3>
        <p class="text-center font-medium text-[14px] md:text-[20px] mb-6">
          ここに見出しを説明する文章が入ります。<br />
          ここに見出しを説明する文章が入ります。ここに見出しを説明する文章
          <br />
          が入ります。ここに見出しを説明する文章が入ります。
        </p>

        <p class="text-center font-medium text-[14px] md:text-[20px] mb-6">
          ここに見出しを説明する文章が入ります。ここに見出しを説明する文章<br />
          が入ります。ここに見出しを説明する文章が入ります。
          <br />
          ここに見出しを説明する文章が入ります。
        </p>

        <p class="text-center font-medium text-[14px] md:text-[20px] mb-6">
          ここに見出しを説明する文章が入ります。
        </p>

        <p class="text-center font-medium text-[14px] md:text-[20px] mb-6">
          ここに見出しを説明する文章が入ります。ここに見出しを説明する文章<br />
          が入ります。ここに見出しを説明する文章が入ります。
        </p>
      </div>
    </section>


    <Recruitment />
    <TechBlog />

    <div class="movie">
      <video
        class="rotate-[-30deg] scale-[1.3] translate-x-[0%] md:translate-x-[2%] translate-y-[80%] md:translate-y-[-20%] object-cover w-full"
        autoplay
        loop
        src="/images/movies/engineer.mp4"></video>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          const video = document.querySelector("video");
          if (!video) return;

          // Autoplay the video
          video.autoplay = true;
          video.load(); // Optional, to ensure the video starts loading immediately

          // You might want to mute the video if autoplaying
          video.muted = true;
        });
      </script>
    </div>
  </main>
  <!-- テックブログコンポーネント -->
  <TechBlog />

  <!-- 採用情報コンポーネント -->
  <Recruitment />
</Layout>
