---
import Layout from "../../layouts/Layout.astro";
import Recruitment from "../../components/Recruitment.astro";
import TechBlog from "../../components/TechBlog.astro";
---

<Layout title="エンジニア教育事業">
  <main>
    <!-- Banner section starts -->
    <div
      class="flex flex-col px-5 md:px-20 container mx-auto py-5 md:py-10 gap-x-[64px] gap-y-8 md:flex-row justify-between my-10 items-center"
    >
      <div class="w-full md:w-[50%]">
        <img class="w-full" src="/images/images/feature001.svg" />
      </div>
      <div class="w-full md:w-[50%]">
        <h4
          class="text-[40px] md:text-[56px] text-black-333 font-[700] tracking-[-2px]"
        >
          エンジニア育成・組織化支援事業
        </h4>
        <p class="my-4 text-[24px] md:text-[32px] md:my-6 font-medium">
          （ワーディング要検討）
        </p>
      </div>
    </div>
    <!-- Banner section ends -->

    <section class="my-20">
      <div class="container mx-auto px-5">
        <h3
          class="text-[32px] md:text-[64px] font-bold leading-[120%] text-center mb-6"
        >
          IT分野の自立自走をサポートします
        </h3>
        <p class="text-center font-medium text-[14px] md:text-[20px] mb-6">
          ここに見出しを説明する文章が入ります。<br />
          ここに見出しを説明する文章が入ります。ここに見出しを説明する文章
          <br />
          が入ります。ここに見出しを説明する文章が入ります。
        </p>

        <p class="text-center font-medium text-[14px] md:text-[20px] mb-6">
          ここに見出しを説明する文章が入ります。ここに見出しを説明する文章<br />
          が入ります。ここに見出しを説明する文章が入ります。
          <br />
          ここに見出しを説明する文章が入ります。
        </p>

        <p class="text-center font-medium text-[14px] md:text-[20px] mb-6">
          ここに見出しを説明する文章が入ります。
        </p>

        <p class="text-center font-medium text-[14px] md:text-[20px] mb-6">
          ここに見出しを説明する文章が入ります。ここに見出しを説明する文章<br />
          が入ります。ここに見出しを説明する文章が入ります。
        </p>
      </div>
    </section>

    <section class="py-5">
      <div class="container mx-auto items-center flex flex-wrap gap-y-8 px-5">
        <div class="w-full md:w-[50%] md:pe-8">
          <div
            class="text-[40px] md:text-[48px] md:mb-6 mb-4 font-bold tracking-[-2px]"
          >
            <h1 class="font-bold tracking-[-2px] text-[40px] md:text-[48px]">
              エンジニア育成・組織化支援事業
            </h1>
          </div>
          <p class="font-medium text-[16px] leading-[140%]">
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
        </div>

        <div class="w-full md:w-[50%] md:ps-8">
          <img class="w-full" src="/images/images/feature4.svg" />
        </div>
      </div>
    </section>

    <section
      class="bg-[url('../images/apply_bg.svg')] bg-cover bg-no-repeat bg-center"
    >
      <div class="container mx-auto md:py-12 py-10 px-5 md:px-0">
        <h2 class="text-white mb-6 md:mb-0 text-center text-[40px] font-bold">
          シンシアの 採用情報を掲載
        </h2>
        <p
          class="font-medium md:text-[24px] text-[16px] text-center text-white tracking-[4px] md:tracking-[6px]"
        >
          募集要項選考フローに <br />
          ついてはWantedlyをご確認ください。
        </p>
        <div class="text-center">
          <a
            class="text-[14px] md:text-[20px] mt-10 inline-block font-bold rounded-[4px] text-white bg-[#518C3C] py-4 px-6"
            href="#">さっそくエントリーする</a
          >
        </div>
      </div>
    </section>

    <!-- Blog section starts -->
    <section class="pt-20 pb-[72px] md:mb-20">
      <div class="container mx-auto px-5">
        <h2
          class="md:text-[56px] text-[48px] text-black-333 text-center font-bold mb-2"
        >
          テックブログ
        </h2>
        <p
          class="text-[24px] font-bold text-black-333 md:mb-14 mb-12 text-center"
        >
          Tech Blog
        </p>

        <div class="flex justify-center flex-wrap">
          <div
            class="w-[100%] md:w-[50%] border-b-[1px] md:border-b-[0px] md:border-e-[1px] border-dotted md:ps-[17.5px] md:pe-[32px] pb-[16px] md:pb-0 flex items-stretch"
          >
            <img
              class="w-full min-h-[360px] object-cover"
              src="/images/images/blog_1.png"
              alt="blog"
            />
          </div>
          <!-- <div class="h-full border-solid"></div> -->
          <div class="w-[100%] md:w-[50%] md:ps-[32px] md:mt-0 mt-[16px]">
            <div
              class="flex gap-x-[23px] mb-6 pb-2 border-b-[1px] items-center border-dotted"
            >
              <div class="flex-1">
                <h4 class="font-bold leading-[140%] text-base">
                  ブログのタイトルが入ります。ブログのタイトルが入ります。
                </h4>
                <p class="text-[14px] my-2">
                  このブログの内容はこんな感じです。このブログの内容はこんな感じです。このブログの内容はこんな感じです。このブログの内容はこんな感じです。
                </p>
                <ul class="flex gap-x-2 mb-2">
                  <li
                    class="py-[2px] px-2 rounded-sm bg-[#333] text-white font-medium text-[8px]"
                  >
                    NEW
                  </li>
                  <li
                    class="py-[2px] px-2 rounded-sm bg-[#333] text-white font-medium text-[8px]"
                  >
                    Atomic
                  </li>
                  <li
                    class="py-[2px] px-2 rounded-sm bg-[#333] text-white font-medium text-[8px]"
                  >
                    イラスティック
                  </li>
                  <li
                    class="py-[2px] px-2 rounded-sm bg-[#333] text-white font-medium text-[8px]"
                  >
                    アトミック
                  </li>
                </ul>
                <p class="text-[#949495] font-normal text-[10px]">2023.11.23</p>
              </div>
              <button class="w-8 h-8 basis-[32px]">
                <img class="w-full" src="/images/images/arrow.svg" />
              </button>
            </div>
            <div
              class="flex gap-x-[23px] mb-6 pb-2 border-b-[1px] items-center border-dotted"
            >
              <div class="flex-1">
                <h4 class="font-bold leading-[140%] text-base">
                  ブログのタイトルが入ります。ブログのタイトルが入ります。
                </h4>
                <p class="text-[14px] my-2">
                  このブログの内容はこんな感じです。このブログの内容はこんな感じです。このブログの内容はこんな感じです。このブログの内容はこんな感じです。
                </p>
                <ul class="flex gap-x-2 mb-2">
                  <li
                    class="py-[2px] px-2 rounded-sm bg-[#333] text-white font-medium text-[8px]"
                  >
                    NEW
                  </li>
                  <li
                    class="py-[2px] px-2 rounded-sm bg-[#333] text-white font-medium text-[8px]"
                  >
                    Atomic
                  </li>
                  <li
                    class="py-[2px] px-2 rounded-sm bg-[#333] text-white font-medium text-[8px]"
                  >
                    イラスティック
                  </li>
                  <li
                    class="py-[2px] px-2 rounded-sm bg-[#333] text-white font-medium text-[8px]"
                  >
                    アトミック
                  </li>
                </ul>
                <p class="text-[#949495] font-normal text-[10px]">2023.11.23</p>
              </div>
              <button class="w-8 h-8 basis-[32px]">
                <img class="w-full" src="/images/images/arrow.svg" />
              </button>
            </div>

            <a href="#" class="flex items-center justify-end me-0">
              <span class="me-2 font-bold text-[#518C3C] text-[24px]"
                >もっとみる</span
              >
              <svg
                width="48"
                height="48"
                viewBox="0 0 48 48"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="1"
                  y="1"
                  width="46"
                  height="46"
                  rx="23"
                  stroke="#518C3C"
                  stroke-width="2"></rect>
                <path
                  d="M20 16L28 24L20 32"
                  stroke="#518C3C"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Blog section ends -->

    <div class="movie">
      <video
        class="rotate-[-30deg] scale-[1.3] translate-x-[0%] md:translate-x-[2%] translate-y-[80%] md:translate-y-[-20%] object-cover w-full"
        autoplay
        loop
        src="/images/movies/engineer.mp4"></video>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          const video = document.querySelector("video");
          if (!video) return;

          // Autoplay the video
          video.autoplay = true;
          video.load(); // Optional, to ensure the video starts loading immediately

          // You might want to mute the video if autoplaying
          video.muted = true;
        });
      </script>
    </div>
  </main>
  <!-- テックブログコンポーネント -->
  <TechBlog />

  <!-- 採用情報コンポーネント -->
  <Recruitment />
</Layout>
