---
import "../styles/blogs.css";
import Layout from "../layouts/Layout.astro";
import BlogList from "../components/BlogList.astro";
import Business from "../components/Business.astro";
import H2 from "../atoms/H2.astro";
import { AstroComponentInstance } from "astro/dist/runtime/server";

const allBlogs = await Astro.glob("../pages/blogs/*.md");
---

<Layout title="blogs">
  <div class="wrapper">
    <main class="main-container">
      <section>
        <h2>2023年 6月</h2>
        <div class="btn-container">
          <div class="filter-btn-selected">カテゴリ</div>
          <div class="filter-btn">年別</div>
          <div class="filter-btn">月別</div>
        </div>
      </section>
      <section class="blog-cards">
        {
          allBlogs.map((blog) => (
            <div class="blog-card">
              <div class="left">
                <h3>{blog.frontmatter.title}</h3>
                <div innerHTML={blog.content} />
                <p>
                  このブログの内容はこんな感じです。このブログの内容はこんな感じです。
                </p>
                <div class="categories">
                  {/* カテゴリデータがあればここに表示 */}
                  <div class="category">NEW</div>
                  <div class="category">Atomic</div>
                  <div class="category">イラスティック</div>
                  <div class="category">アトミック</div>
                </div>
                <div class="date">
                  {new Date(blog.frontmatter.date)
                    .toISOString()
                    .split("T")[0]
                    .replace(/-/g, ".")}
                </div>
              </div>
              <div class="circle-link" />></a>
            </div>
          ))
        }
      </section>
    </main>
    <aside class="sidebar">
      <div class="category-section">
        <h3>カテゴリ</h3>
        <p>カテゴリ名カテゴリ名(100)</p>
        <p>カテゴリ(50)</p>
        <p>カテゴリ名カテゴリ名カテゴリ名(30)</p>
      </div>
      <div class="monthly-section">
        <h3>月別</h3>
        <p>12月(1)</p>
        <p>11月(9)</p>
        <p>10月(32)</p>
      </div>
      <div class="age-section">
        <h3>年別</h3>
        <p>2023年(12)</p>
        <p>2022年(29)</p>
        <p>2021年(22)</p>
        <p>2020年(72)</p>
      </div>
    </aside>
  </div>
</Layout>
