---
import Layout from "../layouts/Layout.astro";
import Aside from "../components/Aside.astro";
const allBlogs = await Astro.glob("../pages/blogs/*.md");
---

<Layout title="blogs">
  <div class="flex max-w-[1160px] mx-auto gap-10 p-8">
    <main class="w-800 flex flex-col">
      <section>
        <h2 class="text-4xl font-bold leading-[48px] font-sans mb-6">2023年 6月</h2>
        <div class="flex">
          <div class="text-lg font-bold p-2 rounded text-white bg-green-600 mr-4 mb-6 cursor-pointer">カテゴリ</div>
          <div class="text-lg font-bold p-2 rounded text-green-600 border border-green-600 mr-4 mb-6 cursor-pointer">年別</div>
          <div class="text-lg font-bold p-2 rounded text-green-600 border border-green-600 mb-6 cursor-pointer">月別</div>
        </div>
      </section>
      <section class="space-y-6">
        {
          allBlogs.map((blog) => (
            <div class="p-4 rounded shadow-md flex items-center space-x-4">
              <div class="flex flex-col">
                <h3 class="text-lg font-bold truncate">{blog.frontmatter.title}</h3>
                <div innerHTML={blog.content} />
                <p class="text-sm font-medium text-gray-700 truncate">
                  このブログの内容はこんな感じです。このブログの内容はこんな感じです。
                </p>
                <div class="flex space-x-2">
                  <div class="text-xs font-medium text-white px-2 py-1 rounded bg-gray-900">NEW</div>
                  <div class="text-xs font-medium text-white px-2 py-1 rounded bg-gray-900">Atomic</div>
                  <!-- ... -->
                </div>
                <div class="text-xs text-gray-600">
                  {new Date(blog.frontmatter.date).toISOString().split("T")[0].replace(/-/g, ".")}
                </div>
              </div>
              <div class="w-8 h-8 rounded-full bg-gray-600 flex items-center justify-center"></div>
              <a href="/" class="text-lg font-bold text-green-600">></a>
            </div>
          ))
        }
      </section>
    </main>
    <Aside />
  </div>
</Layout>
