---
import Layout from "../layouts/Layout.astro";
import H1 from "../atoms/H1.astro";
---

<Layout title="お問い合わせ 完了" currentPath="/contact">
  <div class="md:w-[880px] my-10 mx-auto">
    <H1 title="お問い合わせ完了" extraClass="md:mx-0 mx-5" />
    <div class="container md:px-10 px-5 mb-20">
      <p class="mt-12 mb-6 font-bold text-[20px]">
        お問い合わせフォームの送信を完了いたしました。
      </p>
      <p>
        この度はお問い合わせいただきまして誠にありがとうございます。<br />
        ご入力頂いたメールアドレス宛へ、ご確認メールをお送りしておりますのでご確認ください。<br
        />
        内容を確認次第、担当者より折り返しご連絡させていただきます。
      </p>
    </div>

    <div class="text-center md:mx-0 mx-5 mb-32">
      <button
        id="go-back-button"
        type="button"
        class="md:w-[256px] w-full text-xl text-primary rounded-sm py-3 px-5 mr-6 border-2 border-primary"
        >ホームに戻る</button
      >
    </div>
  </div>
</Layout>
