---
import Layout from "../layouts/Layout.astro";
import BlogList from "../components/BlogList.astro";
import Business from "../components/Business.astro";
import H2 from "../atoms/H2.astro";
---

<Layout title="お問い合わせ 完了">
  <main>
    <div class="w-desktop m-auto my-0">
      <H2 title="お問い合わせ" etitle="Contact" />
    </div>
    <div class="w-[880px] flex flex-col my-20 mx-auto">
      <!-- 注意事項 -->
      <div class="border-2 border-Description mb-20">
        <p class="p-5 font-medium text-base text-center font-gothic">
          下記のフォームに必須項目入力の上、「確認画面へ進む」ボタンを押してください。<br
          />
          なお、内容によっては、ご連絡までお時間がかかるものがございますので、あらかじめご了承くださいませ。
        </p>
      </div>

      <!-- お問い合わせ完了フォーム -->
      <div class="shadow-md p-10 mb-20">
        <div class="m-0 p-0">
          <div class="mb-6">
            <div class="font-sans flex items-center mb-2">
              <div class="font-bold mr-2 text-sm">お問い合わせ種別</div>
              <p class="font-normal text-xs text-alert">必須</p>
            </div>
            <p class="font-gothic font-medium text-base">
              お仕事をお願いしたい
            </p>
          </div>
          <div class="mb-6">
            <div class="font-sans flex items-center mb-2">
              <div class="font-bold mr-2 text-sm">名前</div>
              <p class="font-normal text-xs text-alert">必須</p>
            </div>
            <p class="font-gothic font-medium text-base">大野 豊</p>
          </div>
          <div class="mb-6">
            <div class="flex items-center mb-2">
              <div class="font-bold mr-2 text-sm">メールアドレス</div>
              <p class="font-normal text-xs text-alert">必須</p>
            </div>
            <p class="font-gothic font-medium text-base">
              yutaka.ohno@example.com
            </p>
          </div>
          <div class="mb-6">
            <div class="font-sans flex items-center mb-2">
              <div class="font-bold mr-2 text-sm">電話番号</div>
            </div>
            <div>
              <p class="font-gothic font-medium text-base">記載なし</p>
            </div>
          </div>
          <div class="mb-6">
            <div class="font-sans flex items-center mb-2">
              <div class="font-bold mr-2 text-sm">会社名</div>
            </div>
            <p class="font-gothic font-medium text-base">株式会社 豊</p>
          </div>
          <div class="mb-6">
            <div class="font-sans flex items-center mb-2">
              <div class="font-bold mr-2 text-sm">役職</div>
            </div>
            <div>
              <p class="font-gothic font-medium text-base">アソシエイト</p>
            </div>
          </div>
          <div class="mb-6">
            <div class="font-sans flex items-center mb-2">
              <div class="font-bold mr-2 text-sm">
                シンシアをお知りになったきっかけを教えてください
              </div>
            </div>
            <p class="font-gothic font-medium text-base">弊社社員からの紹介</p>
          </div>
        </div>
      </div>

      <!-- もどるボタン -->
      <div class="mb-6">
        <div class="flex items-center justify-center font-gothic">
          <button
            id="go-back-button"
            type="button"
            class="w-[256px] text-xl font-bold text-primary rounded-sm py-3 px-5 mr-6 border-2 border-primary"
            >もどる</button
          >
        </div>
      </div>
    </div>
  </main>
</Layout>
