---
import Layout from "../layouts/Layout.astro";
import H1 from "../atoms/H1.astro";
---

<Layout title="お問い合わせ 完了">
  <div class="md:w-[880px] my-10 mx-auto">
    <H1 title="お問い合わせ完了" extraClass="md:mx-0 mx-5" />
    <div class="shadow-md md:p-10 md:my-10 p-6 mx-5 my-6">
      <div class="mb-6">
        <label class="text-sm font-bold">お問い合わせ種別</label>
        <p>お仕事をお願いしたい</p>
      </div>
      <div class="mb-6">
        <label class="text-sm font-bold">名前</label>
        <p>大野 豊</p>
      </div>
      <div class="mb-6">
        <label class="text-sm font-bold">メールアドレス</label>
        <p>yutaka.ohno@example.com</p>
      </div>
      <div class="mb-6">
        <label class="text-sm font-bold">電話番号</label>
        <p>記載なし</p>
      </div>
      <div class="mb-6">
        <label class="text-sm font-bold">会社名</label>
        <p>株式会社 豊</p>
      </div>
      <div class="mb-6">
        <label class="text-sm font-bold">役職</label>
        <p>アソシエイト</p>
      </div>
      <div class="">
        <label class="text-sm font-bold">
          シンシアをお知りになったきっかけを教えてください
        </label>
        <p>弊社社員からの紹介</p>
      </div>
    </div>

    <div class="mb-6 text-center md:mx-0 mx-5">
      <button
        id="go-back-button"
        type="button"
        class="md:w-[256px] w-full text-xl text-primary rounded-sm py-3 px-5 mr-6 border-2 border-primary"
        >ホームに戻る</button
      >
    </div>
  </div>
</Layout>
