---
import H1 from "../atoms/H1.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="">
  <main>
    <div class="md:w-[880px] my-10 mx-auto">
      <H1 title="お問い合わせ" extraClass="mb-2 md:mx-0 mx-5"/>
      <!-- お問い合わせフォーム -->
      <section class="md:mx-0 mx-5">
        <div class="shadow-md p-6 mb-5">
          <div class="m-0 p-0">
            <div class="mb-6">
              <div class="flex items-center mb-2">
                <label for="inquiry-type" class="font-medium mr-2">
                  お問い合わせ種別
                </label>
                <p class="font-normal text-xs text-alert">必須</p>
              </div>
              <div>
                <div class="mt-2">
                  <select
                    id="inquiry-type"
                    name="country"
                    autocomplete="country-name"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-primary focus:ring-2 focus:ring-inset focus:ring-primary sm:max-w-xs sm:text-sm sm:leading-6"
                  >
                    <option>United States</option>
                    <option>Canada</option>
                    <option>Mexico</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-6">
            <div class="flex items-center mb-2">
              <label for="username" class="font-medium mr-2">名前</label>
              <p class="font-normal text-xs text-alert">必須</p>
            </div>
            <div>
              <input
                id="username"
                name="username"
                placeholder="お名前をご記入ください"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-primary placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div class="mb-6">
            <div class="flex items-center mb-2">
              <label for="email" class="font-medium mr-2">メールアドレス</label>
              <p class="font-normal text-xs text-alert">必須</p>
            </div>
            <div>
              <input
                id="email"
                name="email"
                placeholder="example@xincere.jp"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-primary placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div class="mb-6">
            <div class="flex items-center mb-2">
              <label for="tel" class="font-medium mr-2">電話番号</label>
              <p class="font-normal text-xs text-description">任意</p>
            </div>
            <div>
              <input
                id="tel"
                name="tel"
                placeholder="09012345678"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-primary placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div class="mb-6">
            <div class="flex items-center mb-2">
              <label for="companyname" class="font-medium mr-2">会社名</label>
              <p class="font-normal text-xs text-description">任意</p>
            </div>
            <div>
              <input
                id="companyname"
                name="companyname"
                placeholder="株式会社シンシア"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-primary placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div class="mb-8">
            <div class="font-gothic flex items-center mb-2">
              <p class="font-medium mr-2">
                シンシアをお知りになったきっかけを教えてください
              </p>
              <p class="font-normal text-xs text-alert">必須</p>
            </div>
            <div class="mt-2 space-y-2">
              <div class="flex items-center gap-x-3">
                <input
                  id="push-everything"
                  name="push-notifications"
                  type="radio"
                  class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-primary text-primary"
                />
                <label
                  for="push-everything"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Everything</label
                >
              </div>
              <div class="flex items-center gap-x-3">
                <input
                  id="push-email"
                  name="push-notifications"
                  type="radio"
                  class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-primary text-primary"
                />
                <label
                  for="push-email"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Same as email</label
                >
              </div>
              <div class="flex items-center gap-x-3">
                <input
                  id="push-nothing"
                  name="push-notifications"
                  type="radio"
                  class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-primary text-primary"
                />
                <label
                  for="push-nothing"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >No push notifications</label
                >
              </div>
            </div>
          </div>
          <!-- 同意チェック -->
          <div>
            <div class="relative flex gap-x-3">
              <div class="flex h-6 items-center">
                <input
                  id="offers"
                  name="offers"
                  type="checkbox"
                  class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-primary text-primary"
                />
              </div>
              <div class="text-sm leading-6">
                <p class="text-gray-600">
                  おおおおおおおおおおおおおおおおおおおおおおおおおお
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- 内容クリアボタン・送信ボタン -->
        <div class="md:mx-0 md:mt-10 mx-5 mt-6">
          <div class="md:flex md:items-center md:justify-around text-center">
            <button
              id="clear-form"
              type="reset"
              class="md:mb-0 md:w-[256px] w-full text-xl font-bold text-primary rounded-sm py-3 px-5 border-2 border-primary mb-6"
              >内容をクリアする</button
            >
            <button
              id="submit-form"
              type="submit"
              class="w-[256px] md:w-[256px] w-full text-xl font-bold text-white bg-primary rounded-sm py-3 px-5 border-2 border-primary"
              >同意して送信する</button
            >
          </div>
        </div>
      </section>
    </div>
  </main>
</Layout>
