---
import Layout from "../layouts/Layout.astro";
---

<Layout title="エンジニア教育事業">
  <!-- ヘッダー画像 -->
  <section>
    <div
      class="h-[697px] mx-auto bg-center bg-cover bg-no-repeat"
      style="background-image: url('/images/engineer-education_01.png')"
    >
    </div>
  </section>

  <!-- IT分野の自立自走をサポートします -->
  <section>
    <div class="w-[640px] font-gothic py-[70px] m-auto text-center">
      <h2 class="font-bold text-h2 mb-6 text-body">
        IT分野の自立自走をサポートします
      </h2>
      <p>ここに見出しを説明する文章が入ります。</p>
      <p class="mb-6">
        ここに見出しを説明する文章が入ります。ここに見出しを説明する文章が入ります。ここに見出しを説明する文章が入ります。
      </p>
      <p class="mb-6">
        ここに見出しを説明する文章が入ります。ここに見出しを説明する文章が入ります。ここに見出しを説明する文章が入ります。
        ここに見出しを説明する文章が入ります。
      </p>
      <p class="mb-6">ここに見出しを説明する文章が入ります。</p>
      <p>
        ここに見出しを説明する文章が入ります。ここに見出しを説明する文章が入ります。ここに見出しを説明する文章が入ります。
      </p>
    </div>
  </section>
</Layout>
