---
import Layout from "../layouts/Layout.astro";
import BlogList from "../components/BlogList.astro";
import Business from "../components/Business.astro";
import H2 from "../atoms/H2.astro";
import MemberCard from "../components/MemberCard.astro";
---

<Layout title="">
  <main>
    <section>
      <img
        src="https://placehold.co/600x400"
        class="object-cover w-full h-[500px]"
      />
    </section>
    <section>
      <div class="md:w-desktop m-auto">
        <H2 title="事業紹介" etitle="Our services" />
      </div>
      <div class="md:w-desktop m-auto mb-6">
        <Business
          businessTitle="digital-partner"
          title="デジタルパートナー事業"
        >
          <ul>
            <li>GEEK スタジオ</li>
            <li>タレントスタジオ</li>
          </ul>
        </Business>
      </div>
      <div class="md:w-desktop m-auto mb-6">
        <Business
          order="last"
          businessTitle="product-development"
          title="プロダクト事業"
        >
          <ul>
            <li>不動産プロダクト</li>
            <li>AIプロダクト</li>
          </ul>
        </Business>
      </div>
      <div class="md:w-desktop m-auto mb-6">
        <Business businessTitle="engineer-education" title="教育事業">
          <ul>
            <li>不動産プロダクト</li>
            <li>AIプロダクト</li>
          </ul>
        </Business>
      </div>
    </section>
    <section class="bg-gray py-10">
      <div class="md:w-desktop m-auto">
        <H2 title="取引実績" etitle="Our services" />
      </div>
      <div class="bg-white md:w-desktop m-auto p-6 mt-4">
        <div class="md:flex md:justify-between mt-4">
          <img
            src="https://placehold.co/600x400"
            class="object-cover w-[240px] h-[120px]"
          />
        </div>
      </div>
    </section>

    <section>
      <div class="md:w-desktop m-auto">
        <H2 title="役員紹介" etitle="Board member" />
      </div>
      <div class="bg-white md:w-desktop m-auto p-6 mt-4">
        <div class="md:flex md:items-center md:justify-around">
          <MemberCard
            name="徐 聖博"
            ename="shengbo xu"
            position="代表取締役・CEO"
            imageUrl="https://placehold.co/320x320"
          >
            東京大学大学院でコンピュータ科学を学びAIの研究で学会発表などを行う。卒業後、グリーに新卒入社しWeb開発を経験。その後、メドレーやIndeed
            Tokyoでエンジニアとして活躍し2020年にXincere, Inc.を創業。
          </MemberCard>
          <MemberCard
            name="徐 聖博"
            ename="shengbo xu"
            position="代表取締役・CEO"
            imageUrl="https://placehold.co/320x320"
          >
            東京大学大学院でコンピュータ科学を学びAIの研究で学会発表などを行う。卒業後、グリーに新卒入社しWeb開発を経験。その後、メドレーやIndeed
            Tokyoでエンジニアとして活躍し2020年にXincere, Inc.を創業。
          </MemberCard>
        </div>
      </div>
    </section>

    <!-- テックブログ -->
    <section>
      <div class="md:w-desktop m-auto md:px-0 px-5">
        <H2 title="テックブログ" etitle="Tech Blog" />
      </div>
      <div class="md:w-desktop m-auto md:mb-0 mb-16 md:px-0 px-5">
        <div class="md:flex">
          <!-- 画像 -->
          <div
            class="md:w-[540px] md:h-[320px] shrink-0 md:pr-8 pb-8 mb-8 md:border-r md:border-b-0 border-b border-dotted border-border/light"
          >
            <img
              src="/images/tech-blog.webp"
              class="w-full h-full object-cover"
            />
          </div>
          <!-- ここにブログ -->
          <div class="w-full md:ml-8 flex flex-col justify-between">
            <BlogList />
            <div class="md:pt-0 pt-8 flex justify-end">
              <a href="/blogs" class="inline-flex text-primary items-center">
                <p class="mr-2">もっとみる</p>
                <img src="/arrow-icon_green.svg" class="w-12 h-12" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="md:w-desktop m-auto">
        <H2 title="選考と採用" etitle="Recruit" />
      </div>
    </section>

    <section class="bg-gray py-10">
      <div class="md:w-desktop m-auto">
        <H2 title="ブログ" etitle="Blog" />
      </div>
      <div class="md:w-desktop m-auto">
        <BlogList />
      </div>
    </section>
  </main>
</Layout>
