---
import Layout from "../layouts/Layout.astro";
---

<Layout title="プロダクト開発事業">
  <!-- プロダクト事業 -->
  <section>
    <div class="bg-blue">
      <div class="flex items-center w-desktop m-auto">
        <div class="w-[370px] font-gothic text-white">
          <p class="font-bold text-h2 mb-2">プロダクト事業</p>
          <p class="font-bold text-h3 mb-2">Products</p>
          <p class="font-medium text-sm mr-8">
            私たちの社名に含まれる“Sun”は、まさに「太陽」。
            地球上のすべての生命を育むインフラです。
            革新的なビジネスや、新しいイノベーターの「種」を、私たちの光で照らし、それらを育む最強のインフラになることを目指しています。
            Sun*が価値創造のインフラとなることで、全人類が生まれた時から持っているクリエイティブへの情熱を呼び起こし「誰もが価値創造に夢中になれる世界」を実現させます。
          </p>
        </div>
        <div class="bg-gray w-[895px] h-[669px]"></div>
      </div>
    </div>
  </section>

  <!-- どんなことをしている？ -->
  <section class="relative">
    <div class="w-desktop mx-auto">
      <div
        class="absolute left-0 top-0 bg-gray bg-opacity-30 w-[830px] h-[460px]"
      >
      </div>
      <div
        class="h-[460px] ml-[636px] font-gothic flex flex-col justify-center"
      >
        <p class="font-bold text-h3 mb-2 text-blue">どんなことをしている？</p>
        <p class="font-medium text-sm text-black">
          私たちの社名に含まれる“Sun”は、まさに「太陽」。
          地球上のすべての生命を育むインフラです。
          革新的なビジネスや、新しいイノベーターの「種」を、私たちの光で照らし、それらを育む最強のインフラになることを目指しています。
          Sun*が価値創造のインフラとなることで、全人類が生まれた時から持っているクリエイティブへの情熱を呼び起こし「誰もが価値創造に夢中になれる世界」を実現させます。
        </p>
      </div>
    </div>
  </section>

  <!-- 不動産&マッチングアプリ -->
  <section>
    <div class="w-desktop mx-auto py-[72px]">
      <div class="flex items-center mb-8">
        <div class="font-gothic text-black mr-12">
          <p class="font-bold text-h3 mb-2 text-blue">
            不動産プロダクト（不動産メディア + CRM）
          </p>
          <p class="font-medium text-sm text-body flex-grow">
            私たちの社名に含まれる“Sun”は、まさに「太陽」。
            地球上のすべての生命を育むインフラです。
            革新的なビジネスや、新しいイノベーターの「種」を、私たちの光で照らし、それらを育む最強のインフラになることを目指しています。
          </p>
        </div>
        <div class="bg-gray w-[564px] h-[306px] flex-shrink-0"></div>
      </div>
      <div class="flex items-center">
        <div class="bg-gray w-[564px] h-[306px] flex-shrink-0"></div>
        <div class="font-gothic text-black ml-8">
          <p class="font-bold text-h3 mb-2 text-blue">マッチングアプリ</p>
          <p class="font-medium text-sm text-body">
            私たちの社名に含まれる“Sun”は、まさに「太陽」。
            地球上のすべての生命を育むインフラです。
            革新的なビジネスや、新しいイノベーターの「種」を、私たちの光で照らし、それらを育む最強のインフラになることを目指しています。
          </p>
        </div>
      </div>
    </div>
  </section>
</Layout>
