---
import Layout from "../layouts/Layout.astro";
import H2 from "../atoms/H2.astro";
import Recruitment from "../components/Recruitment.astro";
---

<Layout title="バリューについて">
  <main>
    <!-- About どんな会社？ -->
    <div class="w-full bg-body font-gothic text-white">
      <div class="flex flex-col items-center justify-center py-40">
        <p class="font-bold text-h3">About</p>
        <p class="font-bold text-h2">どんな会社？</p>
        <p class="font-medium text-h3">シンシアに興味を</p>
        <p class="font-medium text-h3">持ってくださったみなさんへ。</p>
      </div>
    </div>
    <!-- バリューについて -->
    <section class="w-full py-16 font-gothic flex flex-wrap justify-between">
      <div class="md:w-desktop m-auto">
        <H2 title="バリューについて" etitle="Value" />
      </div>
      <div class="w-[1180px] bg-primary/10 rounded-r-full mb-10">
        <div class="py-10 px-10 pl-20">
          <p class="font-bold text-eh2 text-primary mb-2">1.ビジョン</p>
          <p class="font-blod text-xl even:text-body">
            「お客様のライフステージの変化をなめらかにする」を掲げ、現在は不動産事業に注力しています。社会や業界をよりよくするための事業の立ち上げ期に携わることができます。
          </p>
        </div>
      </div>
      <div class="w-[1180px] bg-primary rounded-l-full mb-10 ml-auto">
        <div class="py-10 px-10 pr-20 flex-grow">
          <p class="font-bold text-eh2 text-white mb-2">
            2.洗練されたワークフロー
          </p>
          <p class="font-blod text-xl text-white">
            平均会社経験数3社以上、外資テック企業、日系大手企業、スタートアップCTO在籍していた創設メンバーがいままでの経験を元に開発しているため、ハイレベルな開発ができ、多くの知見が得られます。
          </p>
        </div>
      </div>
      <div class="w-[1180px] bg-primary/10 rounded-r-full mb-10">
        <div class="py-10 px-10 pl-20">
          <p class="font-bold text-eh2 text-primary mb-2">
            3.経験豊富なスタッフと一緒に
          </p>
          <p class="font-blod text-xl even:text-body">
            社内には宅建の資格を持ったメンバーや不動産会社での就業経験があるメンバーもいるため、不動産に関する知識を身につけることができます。
          </p>
        </div>
      </div>
      <div class="w-[1180px] bg-primary rounded-l-full mb-10 ml-auto">
        <div class="py-10 px-10 pr-20">
          <p class="font-bold text-eh2 text-white mb-2">4.開発について</p>
          <p class="font-blod text-xl text-white">
            0→1フェーズであるため、一緒に
            "いい会社"とはなにか考え、制度・文化面から作っていくことができます。
          </p>
        </div>
      </div>
      <div class="w-[1180px] bg-primary/10 rounded-r-full mb-10">
        <div class="py-10 px-10 pl-20">
          <p class="font-bold text-eh2 text-primary mb-2">5.シンシアメンバー</p>
          <p class="font-blod text-xl even:text-body">
            創業者がエンジニアであるため、エンジニアリング起点に、どのようにビジネスをつくるか、長期的な技術戦略から一緒に考えることができます。
          </p>
        </div>
      </div>
    </section>

    <!-- オフィス -->
    <section>
      <div class="md:w-desktop mx-auto py-20 font-gothic font-bold text-body">
        <H2 title="オフィス" etitle="Office" />
        <div class="md:w-desktop m-auto">
          <div class="w-[370px] mb-6 m-auto">
            <div class="h-[210px] bg-gray mb-2"></div>
            <div>01_近未来的なデザインの建物（的な文章）</div>
          </div>
          <div class="w-[370px] mb-6 m-auto">
            <div class="h-[210px] bg-gray mb-2"></div>
            <div>02_落ち着いた共有スペース（的な文章）</div>
          </div>
          <div class="w-[370px] mb-6 m-auto">
            <div class="h-[210px] bg-gray mb-2"></div>
            <div>03_落ち着いた共有スペース（的な文章）</div>
          </div>
          <div class="w-[370px] mb-6 m-auto">
            <div class="h-[210px] bg-gray mb-2"></div>
            <div>04_落ち着いた共有スペース（的な文章）</div>
          </div>
          <div class="w-[370px] mb-6 m-auto">
            <div class="h-[210px] bg-gray mb-2"></div>
            <div>05_近未来的なデザインの建物（的な文章）</div>
          </div>
          <div class="w-[370px] mb-6 m-auto">
            <div class="h-[210px] bg-gray mb-2"></div>
            <div>06_近未来的なデザインの建物（的な文章）</div>
          </div>
        </div>
      </div>
    </section>

    <!-- 募集職種 -->
    <section class="w-full py-20">
      <div class="md:w-desktop m-auto">
        <H2 title="募集職種" etitle="Recruit" />
      </div>
      <Recruitment />
    </section>
  </main>
</Layout>
