---
import Layout from "../layouts/Layout.astro";
import Recruitment from "../components/Recruitment.astro";
---

<Layout title="採用情報"
 description="シンシアでは、ビジョンとして「お客様のライフステージの変化をなめらかにする」を掲げ、デジタルパートナー事業・プロダクト事業を中心に事業展開。経験豊富なチームと共に、革新的な働き方を追求し、新しい技術とアイデアで業界をリードする人材を募集中です。"
currentPath="/recruit">
  <main>
    <!-- About どんな会社？ -->
    <div
      class="w-full text-white bg-center bg-cover md:bg-[url(/images/recruit-bg.webp)] bg-[url(/images/recruit-bg_sp.webp)]"
    >
      <div class="flex flex-col items-center justify-center py-40">
        <h1 class="text-h1">採用情報</h1>
        <p class="text-h3 text-center">シンシアに興味を<span class="md:hidden block" />持ってくださったみなさんへ。</p>
      </div>
    </div>
    <!-- 事業紹介 -->
    <section class="w-full pt-16 md:py-20">
      <div class="md:mx-auto mb-10 px-5 container md:px-10">
        <h2 class="text-h2 md:text-h1 text-primary">どんな会社？</h2>
      </div>
      <div class="space-y-10">
        <div class="mr-5 md:w-[1180px] bg-primary/10 rounded-r-full">
          <div class="py-8 pl-5 pr-8 md:py-10 md:px-10 md:pl-20">
            <p class="text-eh2 text-primary mb-2">1.ビジョン</p>
            <p class="text-xl even:text-body">
              「お客様のライフステージの変化をなめらかにする」を掲げ、社会や業界をよりよくするための事業の立ち上げ期に携わることができます。
            </p>
          </div>
        </div>
        <div class="ml-10 md:w-[1180px] bg-primary rounded-l-full md:ml-auto">
          <div class="ml-20 py-8 px-5 md:ml-0 md:py-10 md:px-10 md:pr-20">
            <p class="text-eh2 text-white mb-2">2.洗練されたワークフロー</p>
            <p class="text-xl text-white">
              平均会社経験数3社以上、外資テック企業、日系大手企業、スタートアップCTO在籍していた創設メンバーがいままでの経験を元に開発しているため、ハイレベルな開発ができ、多くの知見が得られます。
            </p>
          </div>
        </div>
        <div class="md:w-[1180px] mr-10 bg-primary/10 rounded-r-full">
          <div class="py-8 pl-5 pr-8 md:py-10 md:px-10 md:pl-20">
            <p class="text-eh2 text-primary mb-2 pr-4 md:pr-0">
              3.経験豊富なスタッフと一緒に
            </p>
            <p class="text-xl even:text-body">
              社内には宅建の資格を持ったメンバーや不動産会社での就業経験があるメンバーもいるため、不動産に関する知識を身につけることができます。
            </p>
          </div>
        </div>
        <div class="ml-10 md:w-[1180px] bg-primary rounded-l-full md:ml-auto">
          <div class="ml-16 py-8 px-5 md:ml-0 md:py-10 md:px-10 md:pr-20s">
            <p class="text-eh2 text-white mb-2">4.開発について</p>
            <p class="text-xl text-white">
              0→1フェーズであるため、一緒に
              "いい会社"とはなにか考え、制度・文化面から作っていくことができます。
            </p>
          </div>
        </div>
        <div class="md:w-[1180px] mr-10 bg-primary/10 rounded-r-full">
          <div class="py-8 pl-5 pr-8 md:py-10 md:px-10 md:pl-20">
            <p class="text-eh2 text-primary mb-2">5.シンシアメンバー</p>
            <p class="text-xl even:text-body">
              創業者がエンジニアであるため、エンジニアリング起点に、どのようにビジネスをつくるか、長期的な技術戦略から一緒に考えることができます。
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- オフィス -->
    <section>
      <div class="py-16 md:m-auto md:py-20 text-body px-5 container md:px-10">
        <div class="md:mx-auto mb-10">
          <h2 class="text-h2 md:text-h1 text-primary">オフィス風景</h2>
        </div>
        <div class="md:grid md:gap-x-8 md:grid-cols-3">
          {
            [1,2,3,4,5,6].map((item) => {
              return (
                <div class="mb-6">
                  <img
                    src=`/images/xincere${item}.webp`
                    class="object-cover w-full"
                  />
                </div>
              );
            })
          }
        </div>
      </div>
    </section>

    <Recruitment />
  </main>
</Layout>
