---
import Layout from "../layouts/Layout.astro";
import H2 from "../atoms/H2.astro";
import Recruitment from "../components/Recruitment.astro";
---

<Layout title="採用と選考">
  <main>
    <!-- About どんな会社？ -->
    <div class="w-full bg-body text-white">
      <div class="flex flex-col items-center justify-center py-40">
        <p class="text-h3">About</p>
        <p class="text-h1">どんな会社？</p>
        <p class="text-h3">シンシアに興味を</p>
        <p class="text-h3">持ってくださったみなさんへ。</p>
      </div>
    </div>
    <!-- 事業紹介 -->
    <section class="w-full pt-16 md:py-20 flex flex-wrap justify-between">
      <div class="md:w-desktop md:mx-auto ml-4 mb-10">
        <p class="text-h2 md:text-h1 text-primary">事業紹介</p>
      </div>
      <div class="space-y-10">
        <div class="mr-5 md:w-[1180px] bg-primary/10 rounded-r-full">
          <div class="py-8 pl-5 pr-8 md:py-10 md:px-10 md:pl-20">
            <p class="text-eh2 text-primary mb-2">1.ビジョン</p>
            <p class="text-xl even:text-body">
              「お客様のライフステージの変化をなめらかにする」を掲げ、現在は不動産事業に注力しています。社会や業界をよりよくするための事業の立ち上げ期に携わることができます。
            </p>
          </div>
        </div>
        <div class="ml-10 md:w-[1180px] bg-primary rounded-l-full md:ml-auto">
          <div class="ml-20 py-8 px-5 md:ml-0 md:py-10 md:px-10 md:pr-20">
            <p class="text-eh2 text-white mb-2">2.洗練されたワークフロー</p>
            <p class="text-xl text-white">
              平均会社経験数3社以上、外資テック企業、日系大手企業、スタートアップCTO在籍していた創設メンバーがいままでの経験を元に開発しているため、ハイレベルな開発ができ、多くの知見が得られます。
            </p>
          </div>
        </div>
        <div class="md:w-[1180px] mr-10 bg-primary/10 rounded-r-full">
          <div class="py-8 pl-5 pr-8 md:py-10 md:px-10 md:pl-20">
            <p class="text-eh2 text-primary mb-2 pr-4 md:pr-0">
              3.経験豊富なスタッフと一緒に
            </p>
            <p class="text-xl even:text-body">
              社内には宅建の資格を持ったメンバーや不動産会社での就業経験があるメンバーもいるため、不動産に関する知識を身につけることができます。
            </p>
          </div>
        </div>
        <div class="ml-10 md:w-[1180px] bg-primary rounded-l-full md:ml-auto">
          <div class="ml-16 py-8 px-5 md:ml-0 md:py-10 md:px-10 md:pr-20s">
            <p class="text-eh2 text-white mb-2">4.開発について</p>
            <p class="text-xl text-white">
              0→1フェーズであるため、一緒に
              "いい会社"とはなにか考え、制度・文化面から作っていくことができます。
            </p>
          </div>
        </div>
        <div class="md:w-[1180px] mr-10 bg-primary/10 rounded-r-full">
          <div class="py-8 pl-5 pr-8 md:py-10 md:px-10 md:pl-20">
            <p class="text-eh2 text-primary mb-2">5.シンシアメンバー</p>
            <p class="text-xl even:text-body">
              創業者がエンジニアであるため、エンジニアリング起点に、どのようにビジネスをつくるか、長期的な技術戦略から一緒に考えることができます。
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- オフィス -->
    <section>
      <div class="py-16 md:w-desktop md:m-auto md:py-20 text-body mx-5">
        <div class="md:mx-auto ml-4 mb-10">
          <h2 class="text-h2 md:text-h1 text-primary">オフィス</h2>
        </div>
        <div class="md:w-desktop md:grid md:gap-x-8 md:grid-cols-3">
          {
            [1, 1, 1, 1, 1, 1].map(() => {
              return (
                <div class="mb-6">
                  <img
                    src="https://placehold.co/320x200"
                    class="object-cover w-full"
                  />
                  <p>01_近未来的なデザインの建物（的な文章）</p>
                </div>
              );
            })
          }
        </div>
      </div>
    </section>

    <Recruitment />
  </main>
</Layout>
