---
interface Props {
  title: string;
  etitle?: string;
  textColor?: string;
  extraClass?: string
}

const { title, etitle, textColor, extraClass } = Astro.props;
---

<h1
  class={`${textColor ?? "text-primary"} text-h1 font-bold ${extraClass}`}
>
  {title}
  { etitle ? <span class="pl-2 text-eh2">{etitle}</span> : ''}
</h1>
