<section class="w-full py-20 h-[556px] bg-primary">
  <div class="md:w-desktop mx-auto mb-10">
    <div class="md:w-desktop m-auto"></div>
    <H2 title="会社概要" etitle="Company Profile" textColor="text-white" />
  </div>
  <div class=" font-gothic text-white">
    <div class="w-[350px] mr-4">
      <div class="mb-4">
        <p class="text-xl mb-2 font-bold">会社名</p>
        <p class="text-sm mont-medium">株式会社シンシア</p>
      </div>
      <div class="mb-4">
        <p class="text-xl mb-2 font-bold">代表者</p>
        <p class="text-sm mont-medium">代表取締役社長 徐 聖博</p>
      </div>
      <div class="mb-4">
        <p class="text-xl mb-2 font-bold">資本金</p>
        <p class="text-sm mont-medium">6,700万円（資本準備金含む）</p>
      </div>
      <div class="mb-4">
        <p class="text-xl mb-2 font-bold">設立年月日</p>
        <p class="text-sm mont-medium">2020年6月8日</p>
      </div>
    </div>
    <div class="w-[350px]">
      <div class="mb-4">
        <p class="text-xl mb-2 font-bold">事業内容</p>
        <p class="text-sm mont-medium">プロダクト開発事業</p>
        <p class="text-sm mont-medium">ITコンサルティング事業</p>
        <p class="text-sm mont-medium">
          エンジニア育成・組織化支援事業（ワーディング要検討）
        </p>
      </div>
      <div class="mb-4">
        <p class="text-xl mb-2 font-bold">宅地建物取引業免許番号</p>
        <p class="text-sm mont-medium">東京都知事(1)第105089号</p>
      </div>
      <div>
        <p class="text-xl mb-2 font-bold">加盟団体</p>
        <p class="text-sm mont-medium">
          社団法人全日本不動産協会、社団法人不動産保証協会
        </p>
      </div>
    </div>
  </div>
</section>
