---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div x-data="{ isOpen: false }">
  <button
    @click="isOpen = !isOpen"
    type="button"
    class="flex w-full items-center justify-between rounded-lg text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
  >
    {title}
    <svg
      :class="isOpen ? 'rotate-180' : ''"
      class="h-5 w-5 flex-none transition duration-150"
      viewBox="0 0 20 20"
      fill="currentColor"
      aria-hidden="true"
    >
      <path
        fill-rule="evenodd"
        d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
        clip-rule="evenodd" />
    </svg>
  </button>
  <div @click.away="isOpen = false" x-show="isOpen" x-collapse class="mt-2">
    <slot />
  </div>
</div>
