<!-- カテゴリ -->
<aside class="w-80">
  <div class="mb-8">
    <h3 class="mb-2 text-primary font-bold ">カテゴリ</h3>
    <div class="pt-4 border-y border-gray-CDD0D3">
      <div class="flex justify-between mb-2">
        <p class="vertical-align text-sm font-bold text-gray/90 truncate pr-6">カテゴリ名カテゴリ名カテゴリ名(カテゴリ名(カテゴリ名((100)</p>
        <div class="flex items-center justify-center flex-shrink-0">
          <a href="">
            <svg class="w-4 h-4 rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5 5 1 1 5"/>
            </svg>
          </a>
        </div>
      </div>
      <div class="flex justify-between mb-2">
        <p class="vertical-align text-sm font-bold text-gray/90 truncate pr-6">カテゴリ名(23)</p>
        <div class="text-gray flex items-center justify-center flex-shrink-0">
          <a href="">
            <svg class="w-4 h-4 rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5 5 1 1 5"/>
            </svg>
          </a>
        </div>
      </div>
      <div class="flex justify-between mb-2">
        <p class="vertical-align text-sm font-bold text-gray/90 truncate pr-6">カテゴリ名(100)</p>
        <div class="text-gray flex items-center justify-center flex-shrink-0">
          <a href="">
            <svg class="w-4 h-4 rotate" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5 5 1 1 5"/>
            </svg>
          </a>
        </div>
      </div>
      <div>
        <ul class="mb-2 text-sm font-bold text-gray/90 space-y-2 ml-6">
          <li class="truncate pr-6">タイトルタイトルタイトル</li>
          <li class="truncate pr-6">タイトル</li>
          <li class="truncate pr-6">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</li>
          <li class="truncate pr-6">タイトルタイトルタイトルタイトル</li>
        </ul>
      </div>
      <div class="flex justify-between mb-2">
        <p class="vertical-align text-sm font-bold text-gray/90 truncate pr-6">カテゴリ名カテゴリ名カテゴリ名カテゴリ名カテゴリ名カテゴリ名(100)</p>
        <div class="text-gray flex items-center justify-center flex-shrink-0">
          <a href="">
            <svg class="w-4 h-4 rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5 5 1 1 5"/>
            </svg>
          </a>
        </div>
      </div>
      <div class="flex justify-between mb-2">
        <p class="vertical-align text-sm font-bold text-gray/90 truncate pr-6">カテゴリ名カテゴリ名(40)</p>
        <div class="text-gray flex items-center justify-center flex-shrink-0">
          <a href="">
            <svg class="w-4 h-4 rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5 5 1 1 5"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- 月別 -->
  <div class="mb-8">
    <h3 class="mb-2 text-primary font-bold ">月別</h3>
    <div class="pt-4 border-y border-gray-CDD0D3">
      <div class="flex justify-between mb-2">
        <p class="vertical-align text-sm font-bold text-gray/90 truncate pr-6">12月(20)</p>
        <div class="flex items-center justify-center flex-shrink-0">
          <a href="">
            <svg class="w-4 h-4 rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5 5 1 1 5"/>
            </svg>
          </a>
        </div>
      </div>
      <div class="flex justify-between mb-2">
        <p class="vertical-align text-sm font-bold text-gray/90 truncate pr-6">11月(15)</p>
        <div class="text-gray flex items-center justify-center flex-shrink-0">
          <a href="">
            <svg class="w-4 h-4 rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5 5 1 1 5"/>
            </svg>
          </a>
        </div>
      </div>
      <div class="flex justify-between mb-2">
        <p class="vertical-align text-sm font-bold text-gray/90 truncate pr-6">10月(32)</p>
        <div class="text-gray flex items-center justify-center flex-shrink-0">
          <a href="">
            <svg class="w-4 h-4 rotate" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5 5 1 1 5"/>
            </svg>
          </a>
        </div>
      </div>
      <div>
        <ul class="mb-2 text-sm font-bold text-gray/90 space-y-2 ml-6">
          <li class="truncate pr-6">タイトルタイトルタイトルタイトル</li>
          <li class="truncate pr-6">タイトルタイトルタイトルタイトルタイトルタイトル</li>
          <li class="truncate pr-6">タイトルタイトル</li>
          <li class="truncate pr-6">タイトルタイトルタイトルタイトル</li>
        </ul>
      </div>
      <div class="flex justify-between mb-2">
        <p class="vertical-align text-sm font-bold text-gray/90 truncate pr-6">9月(17)</p>
        <div class="text-gray flex items-center justify-center flex-shrink-0">
          <a href="">
            <svg class="w-4 h-4 rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5 5 1 1 5"/>
            </svg>
          </a>
        </div>
      </div>
      <div class="flex justify-between mb-2">
        <p class="vertical-align text-sm font-bold text-gray/90 truncate pr-6">8月(9)</p>
        <div class="text-gray flex items-center justify-center flex-shrink-0">
          <a href="">
            <svg class="w-4 h-4 rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5 5 1 1 5"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- 年別 -->
  <div class="mb-8">
    <h3 class="mb-2 text-primary font-bold ">年別</h3>
    <div class="pt-4 border-y border-gray-CDD0D3">
      <div class="flex justify-between mb-2">
        <p class="vertical-align text-sm font-bold text-gray/90 truncate pr-6">2023年(60)</p>
        <div class="flex items-center justify-center flex-shrink-0">
          <a href="">
            <svg class="w-4 h-4 rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5 5 1 1 5"/>
            </svg>
          </a>
        </div>
      </div>
      <div class="flex justify-between mb-2">
        <p class="vertical-align text-sm font-bold text-gray/90 truncate pr-6">2022年(72)</p>
        <div class="text-gray flex items-center justify-center flex-shrink-0">
          <a href="">
            <svg class="w-4 h-4 rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5 5 1 1 5"/>
            </svg>
          </a>
        </div>
      </div>
      <div class="flex justify-between mb-2">
        <p class="vertical-align text-sm font-bold text-gray/90 truncate pr-6">2021年(31)</p>
        <div class="text-gray flex items-center justify-center flex-shrink-0">
          <a href="">
            <svg class="w-4 h-4 rotate" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5 5 1 1 5"/>
            </svg>
          </a>
        </div>
      </div>
      <div>
        <ul class="mb-2 text-sm font-bold text-gray/90 space-y-2 ml-6">
          <li class="truncate pr-6">12月(3)</li>
          <li class="truncate pr-6">11月(9)</li>
          <li class="truncate pr-6">10月(7)</li>
          <li class="truncate pr-6">9月(8)</li>
          <li class="truncate pr-6">8月(4)</li>
        </ul>
      </div>
      <div class="flex justify-between mb-2">
        <p class="vertical-align text-sm font-bold text-gray/90 truncate pr-6">2020年(21)</p>
        <div class="text-gray flex items-center justify-center flex-shrink-0">
          <a href="">
            <svg class="w-4 h-4 rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5 5 1 1 5"/>
            </svg>
          </a>
        </div>
      </div>
      <div class="flex justify-between mb-2">
        <p class="vertical-align text-sm font-bold text-gray/90 truncate pr-6">2019年(46)</p>
        <div class="text-gray flex items-center justify-center flex-shrink-0">
          <a href="">
            <svg class="w-4 h-4 rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5 5 1 1 5"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</aside>
