---
import Accordion from "./Accordion.astro";
---

<!-- カテゴリ -->
<aside class="md:w-80 md:ml-10 md:mx-0 mx-5">
  <div class="mb-8">
    <h3 class="mb-3 text-xl text-primary font-bold">カテゴリ</h3>
    <div class="border-y space-y-2 py-2" x-cloak>
      <Accordion title="2023年1月(20)">
        <ul class="space-y-2">
          <li>おおお</li>
          <li>おおお</li>
          <li>おおお</li>
          <li>おおお</li>
        </ul>
      </Accordion>
    </div>
  </div>

  <!-- 月別 -->
  <div class="mb-8">
    <h3 class="mb-3 text-xl text-primary font-bold">月別</h3>
    <div class="border-y space-y-2 py-2" x-cloak>
      <Accordion title="2023年1月(20)">
        <ul class="space-y-2">
          <li>おおお</li>
          <li>おおお</li>
          <li>おおお</li>
          <li>おおお</li>
        </ul>
      </Accordion>
    </div>
  </div>

  <!-- 年別 -->
  <div class="mb-8">
    <h3 class="mb-3 text-xl text-primary font-bold">年別</h3>
    <div class="border-y space-y-2 py-2" x-cloak>
      <Accordion title="2023年1月(20)">
        <ul class="space-y-2">
          <li>おおお</li>
          <li>おおお</li>
          <li>おおお</li>
          <li>おおお</li>
        </ul>
      </Accordion>
    </div>
  </div>
</aside>
