---
interface Props {
  title: string;
  businessTitle: string;
  order?: string;
}

const { order = "first", businessTitle, title } = Astro.props;
import H3 from "../atoms/H3.astro";
---

<div class="md:flex md:justify-between">
  <a href=`/business/${businessTitle}`>
    <img src="https://placehold.co/600x400" class="object-cover" />
  </a>
  <div
    class=`${order === "last" ? "md:order-1" : 'md:order-first'} md:mt-0 mt-4`
  >
    <a href=`/business/${businessTitle}`>
      <H3 title={title} />
    </a>
    <slot />
  </div>
</div>
