---
interface Props {}

const {} = Astro.props;
---

<!-- footer section starts -->
<footer class="bg-white">
  <div class="border-y-[1px]">
    <div
      class="flex container gap-x-6 md:justify-center justify-start mx-auto flex-wrap py-10 gap-y-2 px-5"
    >
      <a class="text-[12px] font-bold" href="/business/digital-partner"
        >デジタルパートナー事業</a
      >
      <a class="text-[12px] font-bold" href="/business/product-development"
        >プロダクト開発事業</a
      >
      <a class="text-[12px] font-bold" href="/business/engineer-team"
        >エンジニアチーム構築支援事業</a
      >
      <a class="text-[12px] font-bold" href="/recruit">採用と選考</a>
      <a class="text-[12px] font-bold" href="/blogs">テックブログ</a>
      <a class="text-[12px] font-bold" href="/#aboutCompany">会社概要</a>
      <a
        class="text-[12px] font-bold"
        href="/contact"
        href="https://forms.gle/SJz7PsiNVXiU5aTi6"
        target="_blank"
        rel="noopener noreferrer">お問い合わせ</a
      >
    </div>
  </div>
  <div class="text-center font-bold text-base py-4">©2023 Xincere, Inc.</div>
</footer>
<!-- footer section ends -->
