    <!-- management section starts -->
    <section class="pt-20 pb-[72px] md:pb-20 bg-[#F1F6F080] md:my-12">
      <div class="container mx-auto md:px-10 relative">
        <p class="md:hidden text-[20px] mx-5 mb-5 text-[#518C3C] font-bold">
          東大・京大出身者を中心にしたGEEKスタジオ
        </p>
        <div
          class="flex flex-grow gap-x-8 flex-row-reverse gap-y-6 justify-center flex-wrap mx-5 md:mx-0"
        >
          <!-- one -->
          <div
            class="p-5 relative rounded-e-[8px] min-w-[280px] bg-white shadow-card w-[100%] md:w-[28%]"
          >
            <h2
              class="rotate-[90deg] w-[50px] hidden md:block text-[24px] text-[#518C3C] font-bold origin-left whitespace-nowrap absolute right-[-95px] top-[-17px]"
            >
              東大・京大出身者を中心にしたGEEKスタジオ
            </h2>

            <div class="ms-[35px] z-10 relative">
              <img
                class="w-full h-[332px] object-cover mt-[20px]"
                src="/images/management_img.svg"
              />
              <h3 class="font-bold text-[24px] mt-4">徐 聖博</h3>
              <p class="font-medium text-base mb-2">Shengbo Xu</p>
              <p class="text-sm font-medium leading-[140%]">
                東京大学大学院でコンピュータ科学を学びAIの研究で学会発表などを行う。卒業後、グリーに新卒入社しWeb開発を経験。その後、メドレーやIndeed
                Tokyoでエンジニアとして活躍し2020年にXincere, Inc.を創業。
              </p>
            </div>
            <div
              class="h-[200px] w-[97px] bg-bg1 rounded-[60px] absolute top-[20px] left-[20px] z-0"
            >
              <p
                class="text-white absolute font-bold left-[-40px] text-[16px] bottom-[100px] rotate-[90deg]"
              >
                CEO・エンジニア
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- management section ends -->
