---
interface Props {
  name: string;
  ename: string;
  position: string;
  imageUrl: string;
}

const { name, ename, position, imageUrl } = Astro.props;
---

<div class="bg-white shadow-xl pl-16 py-8 pr-6 w-[360px] md:m-0 mx-auto mb-4">
  <div class="relative w-[277px]">
    <img src={imageUrl} class="w-[277px] r-0 relative z-20" />
    <div
      class="bg-primary text-white rounded-full pb-8 pt-2 px-6 text-xl -rotate-90 w-60 absolute -left-32 top-16 z-10"
    >
      <span>
        {position}
      </span>
    </div>
    <h3>{name}<span>{ename}</span></h3>
    <slot />
  </div>
</div>
