<div class="w-full bg-body flex items-center justify-center">
  <div class="flex flex-col text-white font-gothic text-center py-14">
    <div>
      <p class="text-h3 font-bold mb-4">採用情報</p>
      <p class="text-base mb-8">
        募集要項選考フローに<br />ついてはWantedlyをご確認ください。
      </p>
    </div>
    <div>
      <a
        href="https://www.wantedly.com/companies/xincere-inc"
        target="_blank"
        rel="noopener noreferrer"
        class="bg-primary w-80 h-12 flex items-center justify-center rounded text-base"
        >さっそくエントリーする</a
      >
    </div>
  </div>
</div>
