<div class="w-full flex items-center justify-center relative">
  <img
    src="../public/images/corporate-site_recruit.webp"
    alt="Background Image"
    class="absolute inset-0 w-full h-full object-cover"
  />
  <div class="flex flex-col text-white text-center py-14 z-10 relative">
    <div>
      <p class="text-h3 mb-4">採用情報</p>
      <p class="mb-8">
        募集要項選考フローに<br />ついてはWantedlyをご確認ください。
      </p>
    </div>
    <div>
      <a
        href="https://www.wantedly.com/companies/xincere-inc"
        target="_blank"
        rel="noopener noreferrer"
        class="bg-primary w-80 h-12 flex items-center justify-center rounded"
        >さっそくエントリーする</a
      >
    </div>
  </div>
</div>
