<div
  class="w-full bg-center bg-cover md:bg-[url(/images/corporate-site_recruit.webp)] bg-[url(/images/corporate-site_recruit_sp.webp)]"
>
  <div class="text-white text-center py-14">
    <div>
      <h2 class="text-h3 font-bold mb-4">シンシアの採用情報</h2>
      <p class="mb-8">
        募集要項選考フローに<br />ついてはWantedlyをご確認ください。
      </p>
    </div>
    <div class="md:mx-0 mx-5 text-center">
      <a
        href="https://www.wantedly.com/companies/xincere-inc"
        target="_blank"
        rel="noopener noreferrer"
        class="md:px-12 md:py-4 md:inline py-3 block w-full bg-primary rounded"
        >さっそくエントリーする</a
      >
    </div>
  </div>
</div>
