---
import H2 from "../atoms/H2.astro";
---

<section>
  <div class="md:w-desktop py-[72px] m-auto">
    <div class="mb-2">
      <H2 title="テックブログ" etitle="Tech Blog" />
    </div>
    <div class="flex items-center justify-between">
      <div class="bg-gray w-[540px] h-[400px]"></div>
      <!-- ↓ここにブログ -->
      <div class="bg-gray w-[556px] h-[456px]"></div>
    </div>
  </div>
</section>
