---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Aside from "../components/Aside.astro";
import MobileHeader from "../components/MobileHeader.astro";
const { frontmatter, content } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head> <title>{frontmatter.title}</title></head>
  <body x-data="{ mobileSidebar: false }">
    <Header />
    <MobileHeader />
    <div class="flex m-auto w-desktop mt-10">
      <article class="p-4 w-desktop">
        <header>
          <p class="text-description text-sm">
            {
              new Date(frontmatter.date)
                .toISOString()
                .split("T")[0]
                .replace(/-/g, ".")
            }
          </p>
          <h1 class="text-h2 font-bold text-primary">{frontmatter.title}</h1>
          <div class="flex space-x-2 mb-1 truncate]">
            <div
              class="text-[8px] font-medium text-white bg-body px-2 py-0.5 rounded-sm"
            >
              NEW
            </div>
            <div
              class="text-[8px] font-medium text-white bg-body px-2 py-0.5 rounded-sm"
            >
              Atomic
            </div>
            <div
              class="text-[8px] font-medium text-white bg-body px-2 py-0.5 rounded-sm"
            >
              イラスティック
            </div>
            <div
              class="text-[8px] font-medium text-white bg-body px-2 py-0.5 rounded-sm"
            >
              アトミック
            </div>
          </div>
        </header>
        <div innerHTML={content}></div>
      </article>
      <div>
        <Aside />
      </div>
    </div>
    <Footer />
  </body>
</html>
