---
interface Props {
  title: string;
  description?: string;
}

const { title, description = "株式会社シンシアはテクノロジーを強みとした企業です。" } = Astro.props;

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import MobileHeader from "../components/MobileHeader.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="keywords" content="株式会社シンシア,テクノロジー,DX" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/css/custom.css" rel="stylesheet" />
    <title>{title}</title>
  </head>
  <body x-data="{ mobileSidebar: false }">
    <Header />
    <MobileHeader />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
  }
  html {
    font-family: system-ui, sans-serif;
  }
  code {
  }
  [x-cloak] {
    display: none;
  }
</style>
